/*icon sider bar*/

/*warning*/
.treeview-menu-warning .active>a,
.treeview-menu-warning a:hover {
	color: #f0ad4e!important;
}

/*primary*/
.treeview-menu-primary .active>a,
.treeview-menu-primary a:hover {
	color: #5bc0de!important;
}

/*danger*/
.treeview-menu-danger .active>a,
.treeview-menu-danger a:hover {
	color: #d9534f!important;
}

/*info*/
.treeview-menu-info .active>a,
.treeview-menu-info a:hover {
	color: #5bc0de!important;
}

/*success*/
.treeview-menu-success .active>a,
.treeview-menu-success a:hover {
	color: #4cae4c!important;
}


.info-box-link-primary{
    text-decoration: none;
    color: #337ab7;
}

.info-box-link-primary:hover{
    color: #2e6da4;
}

.info-box-link-info{
    text-decoration: none;
    color: #5bc0de;
}
.info-box-link-info:hover{
    color: #46b8da;
}


.info-box-link-warning{
    text-decoration: none;
    color: #f0ad4e;
}
.info-box-link-warning:hover{
    color: #eea236;
}

.info-box-link-danger{
    text-decoration: none;
    color: #d9534f;
}
.info-box-link-danger:hover{
    color: #d43f3a;
}

.info-box-link-success{
    text-decoration: none;
    color: #4cae4c;
}
.info-box-link-success:hover{
    color: #5cb85c;
}

/*efeito success*/

.ctmzbtn {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.ctmzbtn:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-custom-success,

.btn-custom-success.disabled {
	background: #00a65a;
	border: 1px solid #00a65a;
}

.btn-custom-success:hover {
	background:#00a65a;
	opacity:.8;
	border:1px solid #00a65a;
}

.btn-custom-success.btn-outline {
	color: #00a65a;
	background-color:transparent;
}
.btn-custom-success.btn-outline.focus,

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-success.btn-outline:hover,

.btn-custom-warning.btn-outline:hover { 
	color:#fff
}

.btn-of.btn-custom-success:after {
	background:#00a65a;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.btn-of:hover:after {
	height:100%;
	opacity:1
}

/*efeito primary float*/

.info-box-link:hover{
	color: #3c8dbc;
}

.ctmzbtnfloat {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:6px 12px;
	border-radius: 0;
}
.ctmzbtnfloat:after {
	content:'';
	position:absolute;
	z-index:-1;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

.btn-filter {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.btn-filter:after {
	content:'';
	position:absolute;
	z-index:-1;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

.btn-custom-float,

.btn-custom-float.disabled {
	background: #3c8dbc;
	border: 1px solid #3c8dbc;
}

.btn-custom-float:hover {
	background: #3c8dbc;
	opacity:.8;
	border:1px solid #3c8dbc;
}

.btn-custom-float.btn-outline {
	color: #3c8dbc;
	background-color:transparent;
}

.btn-custom-float.btn-outline.focus,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
	color: #3c8dbc;
	border-color: #3c8dbc;
}

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-float.btn-outline:hover,

.btn-custom-warning.btn-outline:hover {
	color:#fff
}

.btn-of.btn-custom-float:after {
	background: #3c8dbc;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.btn-of:hover:after {
	height:100%;
	opacity:1
}

/*efeito primary*/

.info-box-link:hover{
    color: #3c8dbc;
}

.ctmzbtn {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.ctmzbtn:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-filter {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.btn-filter:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-custom-primary,

.btn-custom-primary.disabled {
	background: #3c8dbc;
	border: 1px solid #3c8dbc;
}

.btn-custom-primary:hover {
	background: #3c8dbc;
	opacity:.8;
	border:1px solid #3c8dbc;
}

.btn-custom-primary.btn-outline {
	color: #3c8dbc;
	background-color:transparent;
}
.btn-custom-primary.btn-outline.focus,

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-primary.btn-outline:hover,

.btn-custom-warning.btn-outline:hover { 
	color:#fff
}

.btn-of.btn-custom-primary:after {
	background: #3c8dbc;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
	.btn-of:hover:after {
		height:100%;
		opacity:1
	}

/*efeito info*/

.info-box-link:hover{
    color: #00c0ef;
}

.ctmzbtn {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.ctmzbtn:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-custom-info,

.btn-custom-info.disabled {
	background: #00c0ef;
	border: 1px solid #00c0ef;
}

.btn-custom-info:hover {
	background: #00c0ef;
	opacity:.8;
	border:1px solid #00c0ef;
}

.btn-custom-info.btn-outline {
	color: #00c0ef;
	background-color:transparent;
}
.btn-custom-info.btn-outline.focus,

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-info.btn-outline:hover,

.btn-custom-warning.btn-outline:hover { 
	color:#fff
}

.btn-of.btn-custom-info:after {
	background: #00c0ef;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.btn-of:hover:after {
	height:100%;
	opacity:1
}


/*efeito danger*/

.info-box-link:hover{
    color: #dd4b39;
}

.ctmzbtn {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.ctmzbtn:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-custom-danger,

.btn-custom-danger.disabled {
	background: #dd4b39;
	border: 1px solid #dd4b39;
}

.btn-custom-danger:hover {
	background: #dd4b39;
	opacity:.8;
	border:1px solid #dd4b39;
}

.btn-custom-danger.btn-outline {
	color: #dd4b39;
	background-color:transparent;
}
.btn-custom-danger.btn-outline.focus,

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-danger.btn-outline:hover,

.btn-custom-warning.btn-outline:hover { 
	color:#fff
}

.btn-of.btn-custom-danger:after {
	background: #dd4b39;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.btn-of:hover:after {
	height:100%;
	opacity:1
}


/*efeito warning*/

.info-box-link:hover{
    color: #f0ad4e;
}

.ctmzbtn {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.ctmzbtn:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-custom-warning,

.btn-custom-warning.disabled {
	background: #f0ad4e;
	border: 1px solid #f0ad4e;
}

.btn-custom-warning:hover {
	background: #f0ad4e;
	opacity:.8;
	border:1px solid #f0ad4e;
}

.btn-custom-warning.btn-outline {
	color: #f0ad4e;
	background-color:transparent;
}
.btn-custom-warning.btn-outline.focus,

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-warning.btn-outline:hover,

.btn-custom-warning.btn-outline:hover { 
	color:#fff
}

.btn-of.btn-custom-warning:after {
	background: #f0ad4e;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.btn-of:hover:after {
	height:100%;
	opacity:1
}

/*efeito default*/

.info-box-link:hover{
    color: #f7f7f7;
}

.ctmzbtn {
	position:relative;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
	padding:8px 20px;
}
.ctmzbtn:after {
	content:'';
    position:absolute;
    z-index:-1;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
}

.btn-custom-default,

.btn-custom-default.disabled {
	background: #f7f7f7;
	border: 1px solid #796d6d;
}

.btn-custom-default:hover {
	background: #796d6d;
	opacity:.8;
	border:1px solid #796d6d;
}

.btn-custom-default.btn-outline {
	color: #796d6d;
	background-color:transparent;
}
.btn-custom-default.btn-outline.focus,

.button-box

.btn{margin:0 8px 8px 0}

.btn-custom-default.btn-outline:hover,

.btn-custom-warning.btn-outline:hover { 
	color:#796d6d;
}

.btn-of.btn-custom-default:after {
	background: #eee;
}

.btn-of {
	overflow:hidden;
}
.btn-of:after {
	width:101%;
	height:0;
	top:50%;
	left:50%;
	background:#fff;
	opacity:0;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.btn-of:hover:after {
	height:100%;
	opacity:1
}

.box {
	border-top:none;!important;
}

.btn-cust-box-toll,
.btn-cust-primary, 
.btn-cust-success, 
.btn-cust-info, 
.btn-cust-danger, 
.btn-cust-warning {
  background-color: transparent;
  color: #778288;
  font-size: 13px;
}

.btn-cust-primary:hover {
  background-color: transparent;
  color: #367fa9;
}

.btn-cust-success:hover {
  background-color: transparent;
  color: #008d4c;
}

.btn-cust-info:hover {
  background-color: transparent;
  color: #00ca6d;
}

.btn-cust-danger:hover {
  background-color: transparent;
  color: #d73925;
}

.btn-cust-warning:hover {
  background-color: transparent;
  color: #e08e0b;
}

.modal-body {
	width: 500px;
}
/*alterar cores da menu*/
.skin-blue-light .main-header
.navbar {
	background-color: #521941;
}

.skin-blue-light .main-header
.logo {
	background-color: #521941;
	color: #fff;
	border-bottom: 0 solid transparent;
}

.skin-blue-light .main-header
.logo:hover {
	background-color: #3A092C;
}

.skin-blue-light .main-header
.navbar .sidebar-toggle:hover {
	background-color: #3A092C;
}
.preview {
	text-align: center!important;
	font-size: 120px!important;
	color: #521941!important;
}

.body-lg{
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
}

#alinha ul {
	width:200px;
	height:auto;
	margin:0;
	padding:0;
	display:inline-block;
	background-color:#CC0;
	border-right:1px solid #CCC;
}

.marginleft{
	margin-left: 2px !important;
}
.col-md-offset-left{
	margin-left: -1%;
}

.form-control-custom{
	border: 1px solid #3c8dbc!important;
}

.margin-input-filter{
	margin-left: 0%;
}

/*Tela de login*/

.panel-login {
	border: 4px solid #eee !important;
}

/*inicio formatacao dropdown*/

.dropdown-menu-custom {
	padding: 10px 10px 10px 10px!important;
	width: 200px!important;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
	right: 1px!important;
	margin-top: 0px!important;
}

.dropdown-divisor {
	height: 0;
	margin: .5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}

.a-custom, .a-custom-d, .a-custom-s{

	display: block;
	padding: 0.70rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.span-custom {
	font-family: 'Source Sans Pro','Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.a-custom:hover {
	color: #337ab7!important;
	text-decoration: none!important;
	background-color: #f4f4f4!important;
}

.a-custom-d:hover {
	color: #dd4b39!important;
	text-decoration: none!important;
	background-color: #f4f4f4!important;
}

.a-custom-s:hover {
	color: #398439!important;
	text-decoration: none!important;
	background-color: #f4f4f4!important;
}

/*fim formatação dropdown header*/

.sidebar-toggle.active {
	display:block;
}
.sidebar-toggle {
	display:none;
}

.sidebar-toggle-custom{
	position: relative!important;
	margin-top: 17px!important;
	color: #fff;
	margin-left: 1%;
}
.ion-navicon-round:before {
	content: "\f20d";
	margin-top: inherit;
	margin-left: 0px;
	font-size: 16px;
}

.ion-close-round:before {
	content: "\f129";
	margin-top: inherit;
	margin-left: 0px;
	font-size: 16px;
}
/*format sidebar*/
.sidebar-menu li>a>.fa-angle-right,
.sidebar-menu li>a>.pull-right-container>.fa-angle-right {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
}
.sidebar-menu li.active>a>.fa-angle-right,
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-right {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ctm {
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	transition:all .2s;
}
.ctm:after {
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	transition:all .2s;
}

/*inicio tabela custon lote*/

.table-custom{
	width: 180%!important;
	max-width: 180%!important;
}

/*inicio tabela custon lote*/

.table-max-height-lote{
	max-height: 308px;
	overflow-x: auto;
	overflow-y: auto;
}

/* inicio formatação scrollbar table*/


/* inicio formatação scrollbar lote*/

.table-max-height-lote::-webkit-scrollbar-track
{
	visibility: hidden;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.table-max-height-lote::-webkit-scrollbar
{
	visibility: hidden;
	width: 3px;
	background-color: #F5F5F5;
}

.table-max-height-lote::-webkit-scrollbar-thumb
{
	visibility: hidden;
	background-color: #3c8dbc;
}
.table-max-height-lote:hover::-webkit-scrollbar-track,
.table-max-height-lote:focus::-webkit-scrollbar-track,
.table-max-height-lote:hover::-webkit-scrollbar,
.table-max-height-lote:focus::-webkit-scrollbar,
.table-max-height-lote:hover::-webkit-scrollbar-thumb,
.table-max-height-lote:focus::-webkit-scrollbar-thumb{
	visibility: visible;
}

/* fim formatação scrollbar lote*/

/* inicio formatação scrollbar layuot*/
body::-webkit-scrollbar
{
	width: 7px;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	background-color: #ECF0F5;
}

body::-webkit-scrollbar-thumb
{
	background-color:  #521941;
}

.scrollbar-modal::-webkit-scrollbar{
	width: 3px;
}

.scrollbar-modal::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-modal::-webkit-scrollbar-thumb{
	background-color:  #3c8dbc;
}

/* fim formatação scrollbar layout*/

.marker {
	background-image: url(/img/map-icon.png);
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}